# ==========================================
# PYTHON CACHE
# ==========================================
__pycache__/
*.pyc

# ==========================================
# VIRTUAL ENVIRONMENT
# ==========================================
venv/

# ==========================================
# GIT
# ==========================================
.git
.gitignore

# ==========================================
# IDE
# ==========================================
.vscode/
.idea/

# ==========================================
# ENVIRONMENT VARIABLES
# ==========================================
.env

# ==========================================
# DOCUMENTATION
# ==========================================
README.md